@import "./variable.scss";
@import "./media.scss";

.token {
  padding: 30px 20px 30px;
  position: relative;
  z-index: 0;
  overflow: hidden;

  @include md {
    padding: 0px 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: calc(50% + 55px);
    z-index: -1;
    width: 103%;
    height: calc(100% + 110px);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }

  > .container {
    max-width: 1200px;
    margin: 20px auto 10px;
    padding: 10px 15px;

    .heading {
      margin-bottom: 70px;

      h2 {
        line-height: 100%;
        font-weight: 700;
        line-height: 118%;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-family: "Orbitron";
        font-size: clamp(3.5rem, 5vw, 4rem);
        color: #fff;

        &::before {
          // content: 'Tokenomics';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -104%);

          opacity: 0.1;
          -webkit-transform: translate(-50%, -104%);
          -moz-transform: translate(-50%, -104%);
          -ms-transform: translate(-50%, -104%);
          -o-transform: translate(-50%, -104%);
          color: #fff;
        }
      }

      p {
        max-width: 800px;
        margin: auto;
        text-align: center;
        @include lg {
          width: 80%;
        }
        @include md {
          font-size: 14px;
          line-height: 1.3;
          width: 90%;
        }
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      grid-column-gap: 3.5rem;
      @include lg {
        max-width: 600px;
        margin: auto;
        padding: 0 20px;
        grid-row-gap: 2rem;
        grid-template-columns: 1fr;
      }
      .start {
        h3 {
          font-size: 3rem;
          font-weight: 700;
          font-family: "Montserrat";
          margin: 10px;
          text-align: center;
          margin-bottom: 20px;
          text-shadow: 0 2px 0 #217aff;
          @include md {
            font-size: 2rem;
          }
        }
        ul {
          background-color: transparent;
          background-image: linear-gradient(
            180deg,
            #ffffff0d 0%,
            #ffffff00 73.86%
          );
          border-style: solid;
          border-width: 2px;
          border-color: #ffffff1a;
          transition: all 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
          margin-top: -16px;
          margin-bottom: 60px;
          border-radius: 16px 16px 0px 0px;
          padding: 40px 30px 40px 30px;
          position: relative;
          height: max-content;
          background: linear-gradient(0deg, #0f6244 0%, #257b71b8 100%);
          border-style: solid;
          border-width: 2px;
          border-color: #7da936;
          transition: all 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
          margin-top: 0;
          margin-bottom: 0;
          border-radius: 12px;
          padding: 30px 20px;
          font-size: 24px;
          position: relative;
          box-shadow: 7px 7px 10px 0 #00000025;
          background: #fff;
          border: 0;
          li {
            color: black;
            font-weight: 500;
            margin-left: 25px;
          }
        }
      }
      .end {
        img {
          width: 100%;
        }
      }
    }
  }
}

@keyframes Utility_cardL__gYhso {
  0%,
  100% {
    transform: translateY(0) translateX(0%);
    -webkit-transform: translateY(0) translateX(0%);
    -moz-transform: translateY(0) translateX(0%);
    -ms-transform: translateY(0) translateX(0%);
    -o-transform: translateY(0) translateX(0%);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px) translateX(0%);
    -webkit-transform: translateY(-8px) translateX(0%);
    -moz-transform: translateY(-8px) translateX(0%);
    -ms-transform: translateY(-8px) translateX(0%);
    -o-transform: translateY(-8px) translateX(0%);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px) translateX(0%);
    -webkit-transform: translateY(8px) translateX(0%);
    -moz-transform: translateY(8px) translateX(0%);
    -ms-transform: translateY(8px) translateX(0%);
    -o-transform: translateY(8px) translateX(0%);
  }

  80% {
    transform: translateY(6.4px) translateX(0%);
    -webkit-transform: translateY(6.4px) translateX(0%);
    -moz-transform: translateY(6.4px) translateX(0%);
    -ms-transform: translateY(6.4px) translateX(0%);
    -o-transform: translateY(6.4px) translateX(0%);
  }

  90% {
    transform: translateY(-6.4px) translateX(0%);
    -webkit-transform: translateY(-6.4px) translateX(0%);
    -moz-transform: translateY(-6.4px) translateX(0%);
    -ms-transform: translateY(-6.4px) translateX(0%);
    -o-transform: translateY(-6.4px) translateX(0%);
  }
}
